html,
body {
  color: #333;
  background: #EFEFF5
}

.title {
  background: #fff
}

.title p {
  text-align: center;
  padding: 0.5em 0.5em 0;
  font-size: 18px;
}

.li {
  background: #fff;
  margin-top: 10px
}

.li .head {
  padding: 0.65em;
  border-bottom: 1px solid #E5E5E5
}

.li .head img {
  width: 23px;
  height: 23px;
  margin-right: 9px
}

.li .head .name {
  line-height: 22px;
  display: inline-block;
  vertical-align: middle;
}

.li .head .tip {
  background: #2A83F7;
  color: #fff;
  padding: 0.1em 0.5em;
  font-size: 12px;
  margin-left: 10px;
}

.info {
  overflow: auto;
  color: #999;
  padding: 1.35em 1em
}

.info span {
  display: inline-block;
}

.info p {
  margin-bottom: 10px;
  font-size: 12px
}

.info .left {
  float: left;
  color: #999;
}

.info .left .money {
  color: #ff4c4c;
  font-size: 18px;
  height: 21px;
}

.info .center {
  width: 8em;
  margin: 0 auto
}

.info .right {
  float: right;
}

.info .right span {
  display: block;
  color: #fff;
  background: #ff4c4c;
  border-radius: 15px;
  padding: 0.4em 1.2em;
  font-size: 12px;
  margin-top: 0.8em
}

.num {
  color: #333
}

.banner {
  border: 0.65em solid #fff
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap>div {
  float: left;
  width: 100%;
  position: relative;
}

.swipe-wrap>div img {
  width: 100%
}

.dn{display: none}
